<h1>Recipe Search results for: "<%= @search_term %>"</h1>
</br>
  <p>To search for something else you can modify the URL:
  </br>
Example: <%= link_to "https://recipehunter816.herokuapp.com/?search=chocolate", "https://recipehunter816.herokuapp.com/?search=chocolate"  %>
is the default page.
</p>

<table border ="1">
  <tr>
    <th>Thumbnail</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes_list.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd') %>>
    <% fancytitle = sanitize recipe["title"] %>
      <td><%= link_to image_tag(recipe["image_url"], size: "100"), recipe["source_url"] %></td>
      <td><%= link_to fancytitle, recipe["source_url"] %></td>
      <td><%= recipe["social_rank"] %></td>
    </tr>
    <% end %>
</table>

<p>Powered By <%= link_to "Food2Fork.com", "http://food2fork.com" %> </p>
